In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import pickle
import json
import requests

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score, balanced_accuracy_score, r2_score, mean_squared_log_error
from pandas.plotting import scatter_matrix
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import SimpleImputer
from sklearn import preprocessing
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

from sklearn.feature_selection import SelectKBest, f_regression, chi2

In [40]:
train_data = pd.read_csv(os.path.expanduser("~/Desktop/Projects/api/data/titanic_train.csv"))

In [41]:
features = list(train_data)
X = train_data[features]
# X = X.drop('SalePrice', axis = 1)
y = train_data['Survived']

In [42]:
# check for numeric features train_data
num_features = []
cat_features = []
for feature in X:
    if X[feature].dtypes == np.int or X[feature].dtypes == np.float:
        num_features.append(feature)
    else:
        cat_features.append(feature)

In [43]:
# X_new.info()
# X = X[num_features]
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [44]:
X = pd.concat([X[cat_features], y], axis = 1, sort = False)

In [27]:
X[cat_features]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [46]:
X.to_json('data/miscellaneous/train_Xcat_ycat.json')
X.to_csv('data/miscellaneous/train_Xcat_ycat.csv')
# X[cat_features].to_json('data/miscellaneous/test_Xnum_ynum.json')
# X[cat_features].to_csv('data/miscellaneous/test_Xnum_ynum.csv')

In [22]:
cat_features = []
if cat_features:
    print("hi")
else:
    print("yom")

yom

In [ ]:
train_data = pd.read_csv(os.path.expanduser("~/Desktop/Projects/api/data/titanic_train.csv"))

In [ ]:
features = list(train_data)
X = train_data[features]
y = train_data['Survived']

In [ ]:
# check for numeric features train_data
num_features = []
cat_features = []
for feature in X:
    if X[feature].dtypes == np.int or X[feature].dtypes == np.float:
        num_features.append(feature)
    else:
        cat_features.append(feature)

In [ ]:
X_new = pd.concat([X[cat_features], X['Survived']], axis = 1, sort = False)

In [ ]:
X_new.to_json('data/miscellaneous/pure_cat_data.json')
X_new.to_csv('data/miscellaneous/pure_cat_data.csv')

In [2]:
tuple_example = (0, 1, 2, 3)
tuple_example[2:]

(2, 3)

In [45]:
with open('del_feature.pkl', 'rb') as file:
        del_feature = pickle.load(file)

In [46]:
del_feature

'Id'

In [1]:
lowest_score = min([54, 0.33])

In [2]:
lowest_score

0.33

In [31]:
X = pd.read_csv(os.path.expanduser("~/Desktop/Projects/api/data/miscellaneous/train_Xcat_ynum.csv"), index_col = [0])
# split features
num_features = []
cat_features = []
for feature in X:
    if X[feature].dtypes == np.int or X[feature].dtypes == np.float:
        num_features.append(feature)
    else:
        cat_features.append(feature)

In [32]:
num_features

['SalePrice']

In [38]:
bag = [6]

In [39]:
if all(elem == 6 for elem in bag):
    print("hi")
else:
    print("yom")

hi

In [5]:
test = pd.DataFrame()

In [6]:
test

Empty DataFrame
Columns: []
Index: []

In [90]:
with open('fs_values.pkl', 'rb') as file:
    unpickler = pickle.Unpickler(file);
    fs_values = unpickler.load();
    if len(fs_values) == 5:
        print("hi")
        ordinal_feature, target = fs_values[3:] # regressor
    elif len(fs_values) == 4:
        ordinal_feature, target = fs_values[2:] # classifier

In [86]:
fs_values

[None, None, 'Pclass', 'Survived']

In [89]:
fs_values[2:]

['Pclass', 'Survived']

In [3]:
import requests

In [4]:
with open('model.pkl', 'rb') as file:
    model = pickle.load(file)
model

RandomForestRegressor(bootstrap=False, max_depth=70, max_features='log2',
                      n_estimators=800)

In [56]:
with open('model.json', 'wb') as file:
                pickle.dump(model, file)

In [5]:
data = {}
data['people'] = []
data['people'].append({
    'name': 'Scott',
    'website': 'stackabuse.com',
    'from': 'Nebraska'
})
with open('data.txt', 'w') as outfile:
    json.dump(data, outfile)

In [3]:
directory = 'target'
path = directory + '/fs_values.pkl'

In [4]:
path

'target/fs_values.pkl'

In [106]:
import threading
import time
import os
import pandas as pd
def build_model(data):
    time.sleep(4)
    return "hi"

In [111]:
def train():
    train_data = pd.read_csv(os.path.expanduser("~/Desktop/Projects/api/data/house-prices-advanced-regression-techniques" +
                                                   "/train.csv"), index_col = [0])
    path = 'model_name'
    download_thread = threading.Thread(target = build_model, args = (train_data,))
    download_thread.start()
    if download_thread.isAlive():
        print("yes")
    else:
        print("no")
    time.sleep(5)
    if download_thread.isAlive():
        print("yes")
    else:
        print("no")

In [112]:
train()

yes
no

In [120]:
async def build_model():
    print("hi")

In [123]:
async def train():
    await build_model()
    return "hi"

In [125]:
train()

In [17]:
X_num = ['hallo', 'hi', 'yom']
ordinal_feature = ['hallo', 'hi']

if ordinal_feature and all(item in X_num for item in ordinal_feature):
    for feature in ordinal_feature:
        ord_data = [feature]

uwu